body {
  font-family: sans-serif;
  background-color: rgb(244, 255, 255);
}
header h1 {
  text-align: center;
  margin: 2rem;
}
form {
  width: 40rem;
  margin: auto;
  background-color: rgb(230, 248, 248);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
form section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  margin-bottom: 1rem;
}
label {
  color: rgb(34, 43, 61);
  display: block;
  font-weight: bold;
  margin: 0.5rem 0;
}
input,
textarea,
select {
  font-family: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
}
input:focus,
textarea:focus,
select:focus {
  background-color: rgb(230, 248, 248);
}
textarea {
  resize: none;
}
#form-action {
  text-align: right;
}
button {
  font-family: inherit;
  border: 1px solid rgb(97, 249, 67);
  background-color: rgb(21, 117, 1);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
button:hover {
  border: 1px solid rgb(159, 251, 141);
  background-color: rgb(39, 211, 5);
  padding: 0.6rem 1.5rem;
}
.inline-control {
  display: flex;
}
.inline-control label {
  margin: 0;
  padding: 0.3rem;
}
.inline-control input {
  width: auto;
}
